<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Finder</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-response-targets@2.0.2" integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.2" integrity="sha384-vuKxTKv5TX/b3lLzDKP2U363sOAoRo5wSvzzc3LJsbaQRSBSS+3rKKHcOx5J8doU" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <h1>Item Finder</h1>
        <ul id="menu" >
            <li onclick="toggleNav()"><a href="/">Home</a></li>
            <li onclick="toggleNav()"><a href="/search">Search</a></li>
        </ul>
        <div id="ham" onclick="toggleNav()">
            <span></span>
            <span></span>
        </div>
    </header>
    <main hx-ext="response-targets" hx-ext="ws">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
<script src="/static/nav.js"></script>
<script src="/static/search.js"></script>